* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container {
  height: 100%;
}

/* header */

.header-wrapper {
  width: 100%;
  height: 84px;
  background: transparent;
  transition: 0.5s background;
  max-width: 1290px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 20px 0px 0px;
}

.header-wrapper header {
  position: relative;
  border: 1px solid #222;
  margin: 0 3.5rem;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper header .logo-wrapper {
  display: inline-block;
  padding: 5px 5px 0px;
}

.logo-wrapper img {
  width: 134px;
  height: 36px;
}

.header-wrapper header .btn-wrapper {
  height: auto;
  width: 230px;
  border: 1px solid #222;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-wrapper select.lang-selectbox {
  appearance: none;

  font-size: 14px;
  width: 92px;
  height: auto;
  background: rgba(0, 0, 0, 0.4)
    url(./image/white-24dp/1x/outline_arrow_drop_down_white_24dp.png) no-repeat
    right;
  color: #fff;
  padding: 8px 22px;
}

.btn-wrapper a {
  width: 83px;
  height: 32px;
  background: #e50914;
  display: inline-block;
  cursor: pointer;
}

.btn-wrapper a .btn-signin {
  padding: 7px 14px;
  color: #fff;
  font-weight: 400;
  min-height: 32px;
  line-height: 32px;
}

/* header */

/* main */
.our-story-card {
  position: relative;
  margin-bottom: 0;
  color: #fff;
  padding: 70px 45px;
  border-bottom: 8px solid #222;
  font-family: Arial, Helvetica, sans-serif;
  background: initial;
}

.our-story-card .our-story-card-background {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: -100px;
  overflow: hidden;
}

.our-story-card-background .img-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.our-story-card-background .img-wrapper .our-story-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.our-story-card-text {
  position: relative;
  width: 100%;
  max-width: 950px;
  padding: 75px 0;
  z-index: 1;
  margin: 0 auto;
  text-align: center;

  font-size: 1.625rem;
  font-weight: 400;
}

.our-story-card-text h1,
.our-story-card-text h2 {
  max-width: 640px;
  margin: 0 auto;
}

.our-story-card-title {
  font-size: 3.125rem;
}

.our-story-card-subtitle {
  font-size: 1.625rem;
  margin: 1rem auto;
}

.our-story-card-text .email-form {
  max-width: 950px;
  padding: 0.8rem;

  display: flex;
  flex-direction: column;
}
.our-story-card-text .email-form .email-form-title {
  max-width: none;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0 5%;
  padding-bottom: 20px;

  font-weight: 400;
}

.our-story-card-text .email-form .email-form-group {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  text-align: center;
}

.email-form-group input {
  width: 450px;
  height: 60px;
  max-width: 500px;
  position: relative;
  margin: 0;
  padding: 0 1em;
  font-size: 1.2rem;
  outline: none;
}

.email-form-group input::placeholder {
  position: absolute;
  top: 18px;
  left: 20px;

  transition: 250ms top ease, 250ms left ease;
}

.email-form-group input:focus::placeholder {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 0.8rem;
}

.email-form-group a {
  display: inline-block;
  background: #e50914;
  padding: 0 1rem;
  cursor: pointer;
}

.email-form-group a span {
  font-size: 1.625rem;
  min-height: 60px;
  line-height: 60px;
}

/* main */


/* section-1 */
.our-story-card.animation-card-watchOnTv {
  background: #000;
}

.our-story-card .animation-card-container {
  max-width: 1100px;
  margin: 0 auto;
  background-color: black;

  display: flex;

  justify-content: space-between;
  align-items: center;
}

.animation-card-container .our-story-card-text {
  width: 52%;
  height: 100%;
  flex: 0 1 auto;
  padding: 0 3rem 0 0;
  z-index: 3;
}

.our-story-card-img-container {
  width: 48%;
  height: 100%;
  display: flex;
  flex: 0 1 auto;
}

.our-story-card-animation-container {
  position: relative;
  overflow: hidden;
  margin: -10% -5% -5% 0;
}

.animation-card-img {
  position: relative;
  z-index: 2;
}

.our-story-card-animation-container img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.our-story-card.animation-card-watchOnTv .our-story-card-animation {
  width: 100%;
  height: 100%;
  max-width: 80%;
  max-height: 65%;
  position: absolute;
  top: 42px;
  left: 48px;
}

.our-story-card-video {
  width: 100%;
  height: 100%;
}

/* section-1 */

/* section-2 */
.download-and-watch
  .our-story-card-img-container
  .our-story-card-animation-container
  .our-story-card-animation {
  position: absolute;
  padding: 0.5em 0.75em;
  left: 50%;
  top: 70%;
  bottom: 8%;
  transform: translateX(-50%);
  margin: 0 auto;
  background: #000;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 25em;
  max-height: 7em;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.75em;
}

.our-story-card-animation-image {
  width: 51px;
  height: 72px;
  /* margin: 0 1em 0 0; */
  flex-grow: 0;
  flex-shrink: 0;
}
.our-story-card-animation-text {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 10px;
}

.our-story-card-animation-text .text-0 {
  font-size: 1em;
}

.our-story-card-animation-text .text-1 {
  font-size: 0.9em;
  font-weight: 400;
  color: #0071eb;
}

/* section-2 */

/* section-3 */
.watch-on-device .our-story-card-img {
  position: relative;
  z-index: 2;
}
.our-story-card
  .animation-card-watchOnTv
  .watch-on-device
  .animation-card-container
  .our-story-card-animation {
  width: 100%;
  height: 100%;
  max-width: 53%;
  max-height: 47%;
  position: relative;
}

#converted-gif {
  position: absolute;
  top: 25%;
  left: 60%;
  width: 33%;
}

/* section-3 */

/* section-4 */
.faq-card {
  background: #000;
  text-align: center;
}

.faq-card .faq-list {
  max-width: 815px;
  margin: 2em auto;
}

.faq-list li {
  list-style-type: none;
  margin: 0 0 8px 0;
}

.faq-list li button {
  padding: 0.8em 1.2em 0.8em 1.2em;
  margin-bottom: 1px;
  font-size: 26px;
  font-weight: 400;
  /* position: relative; */
  width: 100%;
  border: 0;
  color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #303030;

  text-transform: none;
  /* overflow: visible; */
  cursor: pointer;

}

.faq-list li button img {
  width: 36px;
  height: 36px;
  transition: 300ms transform;
}



.faq-list li .faq-answer {
  max-height: 0;
  overflow: hidden;
  background: #303030;
  transition: 300ms max-height;
}

.faq-list li button:focus  img {
  transform: rotate(-45deg);
}



.faq-list li button:focus + .faq-answer {
  max-height: 500px;
  padding: 30px;
}




/* section-4 */


/* footer */
.our-story-card.our-story-card-no-border {
  border-bottom: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.footer-wrapper {
  margin: 0 100px;
  width: 100%;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 1em;
  color: #757575;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.footer-top {
  padding-top: 0;
  margin-bottom: 20px;
}

.footer-top-a {
  color: #757575;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,2fr));
  gap: 10px;
}

.footer-links .footer-link-item {
  font-size: 13px;
  list-style: none;
  cursor: pointer;
}

/* footer */





