* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

.layout-container {
  height: 100vh;
  display: grid;
  // grid-template-rows: auto 1fr;
  // grid-template-columns:repeat(6 ,1fr);
  // grid-template: auto 1fr /  repeat(6,minmax(150px, 1fr));
  grid-template: auto 1fr / auto 1fr minmax(500px, 2fr) 1fr auto;

  .header-wrapper {
    padding: 1rem 2.5rem 1rem 2.5rem;
    background: #ffffff;

    grid-column: 1 / span 6;
  }

  .content-wrapper {
    padding: 2rem;
    background: tomato;

    grid-column: 1 / span 6;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;

    .left-wrapper {
      padding: 2rem;
      background: purple;
      grid-column: 2 / span 1;
    }

    .main-wrapper {
      padding: 2rem;
      background: purple;
      grid-column: 3 / span 1;
    }

    .right-wrapper {
      padding: 2rem;
      background: purple;
      grid-column: 4 / span 1 ;
    }
  }
}
