* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

.layout-container {
  height: 100vh;
  display: grid;

  grid-template: auto 1fr / 1fr 1fr;



  .header-wrapper {
    padding: 1rem 2.5rem 1rem 2.5rem;
    background: #ffffff;

    grid-row: span 1;
    grid-column: span 2;
  }

  .content-wrapper {
    padding: 2rem;

    grid-row: 2 / span 1;
    grid-column: span 2;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    .left-wrapper {
      flex-grow: .1;
      max-width: 200px;
      height: auto;
      padding: 2rem;

      border: 1px solid #ddd;
    }

    .main-wrapper {
      flex-grow: 1;
      padding: 2rem;

      border: 1px solid #ddd;
    }

    .right-wrapper {
      flex-grow: .2;
      max-width: 400px;
      padding: 2rem;


      border: 1px solid #ddd;
    }
  }
}
